.navbars-section{
    overflow: hidden;
}

.navbarss{
    background-color: purple;
    color: white;
    font-size: 1.3rem;
    /* margin-left: -10px;
    margin-top: -10px; */
    padding: 2rem;
    /* max-width: 9rem; */
    height: 44.6rem !important;
    position: fixed;
}

h2{
    margin-bottom: 3rem;
}

.nav-item{
    margin-bottom: 1.5rem;
    color: white;
}

a{
    text-decoration: none;
}

.nav-item:hover {
    background-color: whitesmoke;
    color: black;
    text-align: center;
    border-radius: 5px;
}

.active{
    background-color: whitesmoke;
    color: black;
    text-align: center;
    border-radius: 5px;
    stroke: black;
}

.icon{
    margin-top: -5px;
    margin-right: 1rem;
}

.content{
    padding: 3rem;
    background-color: whitesmoke;
    margin-left: 15.5rem;
    overflow: hidden;
}

.boxs{
    margin-bottom: 3rem;
}


.box{
    border-radius: 9px;
    text-align: center;
    background-color: whitesmoke;
    border: 2rem;
    box-shadow: 1px 2px 5px 5px lightgray;
    margin-left: 1.6rem;
    padding: .5rem;
}

.box:hover{
    background-color: purple;
    color: white;
}

.box-img{
    width: 15rem;
    margin-bottom: 1rem;
    margin-top: -1.5rem;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td {
    border: 1px solid #dddddd !important;
    text-align: center;
    padding: 8px;
  }
  
  th {
    border: 1px solid #dddddd !important;
    text-align: center !important;
    padding: 8px;
    background-color: #EBF1EF;
  }

  h2{
      text-align: center;
  }