body{
  background-color: whitesmoke;
}

.login-section{
  overflow: hidden;
}

.login-img{
  width: 60rem;
  padding-left: 5rem;
  padding-top: 3rem;
}

.model{
  background-color: purple;
}


.login-form{
  padding: 6rem;
  /* background-color: lightgray; */
  height: 44.5rem;
  padding-top: 10rem;
 
}

.formm{
  background-color: white;
  padding: 3rem;
  border-radius: 15px;
  box-shadow: 5px 5px 5px lightgray;
}

#btn1{
  border-color: purple;
  color: purple;
  margin-left: 5.5rem;
  margin-top: 1rem;
}

#btn1:hover{
  background-color: purple;
  color: white;
}

h3{
  margin-top: -9rem;
  margin-bottom: 3rem;
  color: purple;
}

.logo{
  width: 6rem;
  margin-right: -1.5rem;
}

.user-imag{
  text-align: center;
}

.user-logo{
  width: 15rem;
  margin-top: -1rem;
}

h5{
  margin-top: -1rem;
  margin-bottom: 3rem;
}

label{
  margin-top: 1rem;
  margin-left: 2.5rem;
}

label:hover{
  color: purple;
}

a{
  text-decoration: none;
}