
.navbar-nav{
    margin-left: 30rem;
}

.nav-item{
    margin-right: 5rem;
    font-size: large;
}

.nav-link{
    color: purple !important;
    
}

.nav-link:hover{
    text-decoration: underline;
    transition: all .5s;
    transform: scale(1.1);
}

body {
    background-color: whitesmoke;
}

.title1{
    font-size: 3rem;
    margin-top: 10rem;
    color: purple;
}

.img1{
    width: 55rem;
    float: right;
    margin-top: -18rem;
    margin-right: -6rem;
}

.p1{
    font-size: large;
}

#btn1{
    border-color: purple;
    color: purple;
}

#btn1:hover{
    background-color: purple;
    color: white;
}

#Home-Section{
    height: 41.5rem;
    padding-top: 1rem;
}

#info-section{
    background-color: purple;
    overflow: hidden;
    text-align: center;
    color: white;
    padding-top: 2rem;
}

.stps{
    padding: 5rem;
   margin-top: -3rem;
}

.stp1, .stp2, .stp3 {
    background-color: white;
    margin-left: 3rem;
    border-radius: 5px;
    padding: 1rem;
    color: black;

}

.stp-img{
    width: 10rem;
    height: 8rem;
}

#About-section{
    padding-top: 3rem;
    text-align: center;
    overflow: hidden;
}

.stpss{
    padding: 1rem;
    margin-top: 1rem;
    padding-left: 13rem ;
    text-align: center;
}

.about-img{
    width: 15rem;
    height: 13rem;
}

/* .per{
    border-radius: 10px;
} */


.per{
    background-color: purple;
    color: white;
    width: 20rem;
    height: 100%;
    border-radius: 10px;
    padding: 1rem;
    margin-left: 13rem;
}
.per2{

    background-color: purple;
    color: white;
    width: 20rem;
    height: 100%;
    border-radius: 10px;
    margin-left: 1rem;
    padding: 1rem;

}


#Contact-Section{
    background-color: purple;
    overflow: hidden;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
    color: white;
}

.contect-img{
    width: 50rem;
}

.cont-form{
    padding-top: 5rem;
    text-align: center;
}

.formm{
    padding: 2rem;
}

#btn2{
    border-color: white;
    color: white;
    margin-top: 1rem;
}

#btn2:hover{
    background-color: white;
    color: purple;
}

#Footer-Section{
    background-color: rgb(33, 33, 33);
    overflow: hidden;
    color: white;
    text-align: center;
    padding-top: 3.5rem;
    padding-bottom: 1rem !important;
}

a{
    text-decoration: none !important;
    color: white;
    text-align: left;
}

.pg{
    max-width: 150px !important;
}

.pg:hover{
    color: purple !important;
    background-color: white;
}

ul{
    margin-left: 12rem;
}

svg:hover{
    background-color: white;
    stroke: purple;
}

#about-footer{
    max-width: 30rem;
    padding-left: 5rem;
    margin-left: 5rem;
}